<div [ngClass]="alerta" class="alert" role="alert">
  <strong>Well done!</strong>
</div>

<button type="button" class="btn btn-info" (click)="alerta =  'alert-info'">info</button>
<button type="button" class="btn btn-success" (click)="alerta =  'alert-success'">Success</button>
<br><br>

<h3 [ngClass]="{'text-danger':propiedades.danger,'text-info': !propiedades.danger }">Hola mundo</h3>

<button [ngClass]="{'btn-danger': propiedades.danger, 'btn-info': !propiedades.danger }" type="button" class="btn btn-danger" (click)="propiedades.danger = !propiedades.danger ">Cambiar</button>

<br><br>
<h3>Proceso Asíncrono</h3>

<button  class="btn btn-primary" type="button" name="button" (click)="ejecutar()" [disabled]="loading">
  <i [ngClass]="{ 'fa-save':!loading,'fa-refresh fa-spin': loading }"
     class="fa"></i>
  Guardar Cambios
</button>
